style(type="text/css").
  html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  input[type=text] {
    width: 800px;
  }
  textarea {
    width: 800px;
    height: 300px;
    font-family: monospace;
  }
  .note {
    border: 1px solid #f00;
    color: #f00;
    padding: 10px;
    margin: 10px 0;
  }
  .header {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background: #0592AF;
    padding: 5px 10px;
  }
  .workspace {
    padding: 10px;
  }
